{% extends "layout.html" %}
{% load static %}
{% block content %}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Medecine name</th>
          <th scope="col">Reminder Time</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        {% if data %}
        
          {% for key, value in data.items %}
          <tr>
            <th scope="row">{{ key }}</th>
            <td>{{ value.medicineName }}</td>
            <td>{{ value.reminderTime }}</td>
            <td>{{ value.description }}</td>
          </tr>
          {% endfor%}
        {% else %}
        <tr>
          <td colspan="4">No data available</p>
        </tr>
        {% endif %}
    </table>

{% endblock %}