{% extends "layout.html" %}
{% load static %}
{% block content %}
<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/pulsera_carrusel.png' %}" class="img-carrusel" alt="...">
    </div>
    <div class="contenedor-z">
      <h3>Nuestra pulsera</h3>
        <p>PulseCare Características Principales: Intuitiva, conectividad 
          y Monitoreo Remoto, Diseño Ergonómico y Elegante, 
          Batería de Larga Duración</p>
      <a class="btn-personal" href="#">Ver mis recordatorios</a>
    </div>
  </div>
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-6">
      <h3>Sobre nosotros</h3>
      <img src="{% static 'images/sobre-nosotros-index.avif' %}" class="w-100">
    </div>
    <div class="col-md-6 justify-content-center align-content-center text-center mt-3">
      <p><strong>PulseCare</strong> es una empresa innovadora dedicada a mejorar la salud 
        y el bienestar de los adultos mayores a través de tecnología accesible 
        y fácil de usar. Nuestro producto estrella es una pulsera inteligente 
        diseñada específicamente para recordar a los usuarios cuándo deben 
        tomar sus medicamentos.</p>
      <a href="{% url 'brazalete_datos:about_us' %}" class="btn btn-info">Mas información</a>
    </div>
  </div>
</div>
<!-- Testimonials Section -->
<div class="container mt-3">
  <div class="testimonials">
      <h2>Testimonios</h2>
      <div class="container">
        <div class="row">
          <div class="col-md-4 testimonial-item">
            <img src="{% static 'images/user.png' %}" alt="User 1">
            <h5>Juan Pérez</h5>
            <p>"PulseCare me ha ayudado a nunca olvidar mis medicamentos. ¡Es una maravilla!"</p>
          </div>
          <div class="col-md-4 testimonial-item">
            <img src="{% static 'images/user.png' %}" alt="User 2">
            <h5>María López</h5>
            <p>"La app es muy fácil de usar y el botón de emergencia me da mucha tranquilidad."</p>
          </div>
          <div class="col-md-4 testimonial-item">
            <img src="{% static 'images/user.png' %}" alt="User 3">
            <h5>Carlos Gómez</h5>
            <p>"Desde que uso PulseCare, mis cuidadores también están más tranquilos."</p>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- Testimonials Section END -->
{% endblock %}